set clipboard+=unnamedplus
set surround
set incsearch
set ignorecase
set smartcase
set hlsearch

"nnoremap L $
"nnoremap H ^
"vnoremap L $
"vnoremap H ^
nnoremap ; :
nmap <C-o> <Action>(Back)
"nnoremap <C-f> :action Find<CR>

" <CR> means 'press enter'
nnoremap <C-S-n> :action ReopenClosedTab<CR> 
nnoremap gi :action GotoImplementation<CR>
nnoremap <C-w> :action CloseContent<CR>
vnoremap <C-w> :action CloseContent<CR>
